{{define "title"}}Profile |{{end}}

{{define "admenu"}}
{{end}}

{{define "body"}}
<div class="d-flex">
    <h4>Mes identifiants</h4>
    <a class="ml-auto btn btn-link" href="/garage/website">Mes sites webs</a>
    <a class="ml-4 btn btn-info" href="/">Menu principal</a>
</div>

<ul class="nav nav-tabs" id="proto" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="s3-tab" data-toggle="tab" href="#s3" role="tab" aria-controls="s3" aria-selected="true">S3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sftp-tab" data-toggle="tab" href="#sftp" role="tab" aria-controls="sftp" aria-selected="false">SFTP</a>
    </li>
</ul>

<div class="tab-content" id="protocols">
    <div class="tab-pane fade show active" id="s3" role="tabpanel" aria-labelledby="s3-tab">
        <table class="table mt-4">
            <tbody>
                <tr>
                    <th scope="row">Identifiant de clé</th>
                    <td>{{ .Key.AccessKeyId }}</td>
                </tr>
                <tr>
                    <th scope="row">Clé secrète</th>
                    <td>{{ .Key.SecretAccessKey }}</td>
                </tr>
                <tr>
                    <th scope="row">Région</th>
                    <td>garage</td>
                </tr>
                <tr>
                    <th scope="row">Endpoint URL</th>
                    <td>https://garage.resdigita.org</td>
                </tr>
                <tr>
                    <th scope="row">Type d'URL</th>
                    <td>DNS et chemin (préférer chemin)</td>
                </tr>
                <tr>
                    <th scope="row">Signature</th>
                    <td>Version 4</td>
                </tr>
            </tbody>
        </table>

        <p>Configurer votre logiciel :</p>

        <div class="accordion" id="softconfig">
            <div class="card">
                <div class="card-header" id="awscli-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#awscli" aria-expanded="false" aria-controls="awscli">
                            awscli
                        </button>
                    </h2>
                </div>
                <div id="awscli" class="collapse show" aria-labelledby="awscli-title" data-parent="#softconfig">
                    <div class="card-body">
                        <p>Créez un fichier nommé <code>~/.awsrc</code> :</p>
                        <pre>
export AWS_ACCESS_KEY_ID={{ .Key.AccessKeyId }}
export AWS_SECRET_ACCESS_KEY={{ .Key.SecretAccessKey }}
export AWS_DEFAULT_REGION='garage'

function aws { command aws --endpoint-url https://garage.resdigita.org $@ ; }
aws --version
                        </pre>
                        <p>Ensuite vous pouvez utiliser awscli :</p>
                        <pre>
source ~/.awsrc
aws s3 ls
aws s3 ls s3://my-bucket
aws s3 cp /tmp/a.txt s3://my-bucket
...
                        </pre>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="minio-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#minio" aria-expanded="true" aria-controls="minio">
                            Minio CLI
                        </button>
                    </h2>
                </div>

                <div id="minio" class="collapse" aria-labelledby="minio-title" data-parent="#softconfig">
                    <div class="card-body">
                        <p>Vous pouvez configurer Minio CLI avec cette commande :</p>
                        <pre>
mc alias set \
  garage \
  https://garage.resdigita.org \
  {{ .Key.AccessKeyId }} \
  {{ .Key.SecretAccessKey }} \
  --api S3v4
                        </pre>
                        <p>Et ensuite pour utiliser Minio CLI avec :</p>
                        <pre>
mc ls garage/
mc cp /tmp/a.txt garage/my-bucket/a.txt
...
                        </pre>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="winscp-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#winscp" aria-expanded="true" aria-controls="winscp">
                            WinSCP
                        </button>
                    </h2>
                </div>

                <div id="winscp" class="collapse" aria-labelledby="winscp-title" data-parent="#softconfig">
                    <div class="card-body">
                        Reportez vous <a href="">au guide</a>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="hugo-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#hugo" aria-expanded="false" aria-controls="hugo">
                            Hugo
                        </button>
                    </h2>
                </div>
                <div id="hugo" class="collapse" aria-labelledby="hugo-title" data-parent="#softconfig">
                    <div class="card-body">
                        <p>Dans votre fichier <code>config.toml</code>, rajoutez :</p>
                        <pre>
[[deployment.targets]]
 URL = "s3://bucket?endpoint=garage.resdigita.org&amp;s3ForcePathStyle=true&amp;region=garage"
                        </pre>
                        <p>Assurez-vous d'avoir un fichier dans lequel les variables <code>AWS_ACCESS_KEY_ID</code> et <code>AWS_SECRET_ACCESS_KEY</code> sont définies,
                        ici on suppose que vous avez suivi les instructions de l'outil awscli (ci-dessus) et que vous avez un fichier <code>~/.awsrc</code> qui défini ces variables.
                        Ensuite : </p>
                        <pre>
source ~/.awsrc
hugo deploy
                        </pre>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="publii-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#publii" aria-expanded="false" aria-controls="publii">
                            Publii
                        </button>
                    </h2>
                </div>
                <div id="publii" class="collapse" aria-labelledby="publii-title" data-parent="#softconfig">
                    <div class="card-body">
                        <em>Bientôt...</em>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- sftp -->
    <div class="tab-pane fade" id="sftp" role="tabpanel" aria-labelledby="sftp-tab">
        <table class="table mt-4">
            <tbody>
                <tr>
                    <th scope="row">Nom d'utilisateur-ice</th>
                    <td>{{ .Login.Status.Info.Username }}</td>
                </tr>
                <tr>
                    <th scope="row">Mot de passe</th>
                    <td>(votre mot de passe guichet)</td>
                </tr>
                <tr>
                    <th scope="row">Hôte</th>
                    <td>sftp://bagage.resdigita.org</td>
                </tr>
                <tr>
                    <th scope="row">Port</th>
                    <td>2222</td>
                </tr>
            </tbody>
        </table>
        <p>Configurer votre logiciel :</p>

        <div class="accordion" id="softconfig2">
            <div class="card">
                <div class="card-header" id="filezilla-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#filezilla" aria-expanded="false" aria-controls="filezilla">
                            scp
                        </button>
                    </h2>
                </div>
                <div id="filezilla" class="collapse show" aria-labelledby="filezilla-title" data-parent="#softconfig">
                    <div class="card-body">
                        <p>Un exemple avec SCP :</p>
                        <pre>
scp -oHostKeyAlgorithms=+ssh-rsa -P2222 -r ./public {{ .Login.Status.Info.Username }}@bagage.resdigita.org:mon_bucket/
                        </pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="filezilla-title">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#filezilla" aria-expanded="false" aria-controls="filezilla">
                            Filezilla
                        </button>
                    </h2>
                </div>
                <div id="filezilla" class="collapse" aria-labelledby="filezilla-title" data-parent="#softconfig">
                    <div class="card-body">
                        <em>Bientôt</em>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{{end}}
