{{define "title"}}ML {{.MailingList.GetAttributeValue .MailingNameAttr}} |{{end}}
{{define "admenu"}}
{{end}}
{{define "body"}}

<div class="d-flex">
  <h2>ML {{.MailingList.GetAttributeValue .MailingNameAttr}}
    <a class="ml-auto btn btn-sm btn-dark" href="/admin/ldap/{{.MailingList.DN}}">Vue avancée</a>
  </h2>
  <a class="ml-auto btn btn-dark" href="/admin/mailing">Liste des ML</a>
</div>

{{if .Common.Success}}
  <div class="alert alert-success mt-2">Modification enregistrée.</div>
{{end}}
{{if .Common.Error}}
  <div class="alert alert-danger mt-2">
    Impossible d'effectuer la modification.
    <div style="font-size: 0.8em">{{.Error}}</div>
  </div>
{{end}}

{{with $desc := .MailingList.GetAttributeValue "description"}}{{if $desc}}
  <p class="mt-4">{{$desc}}</p>
{{end}}{{end}}

<table class="table mt-4">
  <thead>
    <th scope="col">Adresse</th>
    <th scope="col">Nom</th>
    <th scope="col" style="width: 6em"></th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $member := $root.Members}}
        <tr>
          <td>
            <a href="/admin/ldap/{{$member.DN}}">
              {{$member.GetAttributeValue "mail"}}
            </a>
          </td>
          <td>{{$member.GetAttributeValue "displayname"}}</td>
          <td>
            <form method="POST" onsubmit="return confirm('Supprimer de la ML ?');">
              <input type="hidden" name="action" value="delete-member" />
              <input type="hidden" name="member" value="{{.DN}}" />
              <input type="submit" value="Suppr" class="form-control btn btn-danger btn-sm" />
            </form>
          </td>
        </tr>
      {{end}}
    {{end}}
    {{if not .Members}}
      <tr><td>(aucun abonné)</td></tr>
    {{end}}
  </tbody>
</table>

<hr class="mt-4" />
<h5 class="mt-4">Ajouter un destinataire</h5>

<div class="container">
  <form method="POST">
    <input type="hidden" name="action" value="add-member" />
    <div class="row mt-4">
      <div class="col-md-3"><strong>Utilisateur existant :</strong> </div>
      <div class="col-md-5">
        <input class="form-control" type="text" list="users" name="member" placeholder="Utilisateur..." />
        <datalist id="users">
          {{range .PossibleNewMembers}}
            {{if .GetAttributeValue "mail"}}
              <option value="{{.DN}}">{{if .GetAttributeValue "displayname"}}{{.GetAttributeValue "displayname"}} ({{.GetAttributeValue "mail" }}){{else}}{{.GetAttributeValue "mail"}}{{end}}</option>
            {{end}}
          {{end}}
        </datalist>
      </div>
      <div class="col-md-2">
        <input type="submit" value="Ajouter" class="form-control btn btn-success btn-sm" />
      </div>
    </div>
  </form>

  {{if .AllowGuest}}
  <div class="row mt-4">
    <div class="col-md-10">OU</div>
  </div>

  <form method="POST">
    <input type="hidden" name="action" value="add-external" />
    <div class="row mt-4">
      <div class="col-md-3"><strong>E-mail :</strong></div>
      <div class="col-md-5">
        <input class="form-control" type="text"  name="mail" placeholder="machin@truc.net..." />
      </div>
      <div class="col-md-2">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-3"><strong>Nom (optionnel) :</strong></div>
      <div class="col-md-5">
        <input class="form-control" type="text"  name="displayname" placeholder="Machin Truc..." />
      </div>
      <div class="col-md-2">
        <input type="submit" value="Ajouter" class="form-control btn btn-success btn-sm" />
      </div>
    </div>
    <div class="row">
      <small class="form-text text-muted col-md-10">
        Si un utilisateur existe déjà avec l'email spécifiée, celui-ci sera ajouté à la liste.
        Sinon, un utilisateur invité sera créé.
      </small>
    </div>
  </form>
  {{end}}
</div>

{{end}}
