{{define "title"}}Activer des utilisateurs |{{end}}

{{define "admenu"}}
{{end}}

{{define "body"}}
<table class="table mt-4">
  <thead>
    <th scope="col"></th>
    <th scope="col">Login</th>
    <th scope="col">Email</th>
    <th scope="col">Nom d'ffichage</th>
    <th scope="col">Prénom</th>
    <th scope="col">Nom de famille</th>
    <th scope="col">description</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $user := $root.Users}}
        <tr>
          <td>
            <a href="/admin/activate/{{ $user.GetAttributeValue "cn" }}">
              Activer
            </a>
          </td>
          <td>
            <a href="/admin/ldap/{{$user.DN}}">{{$user.GetAttributeValue "cn"}}</a>
          </td>
          <td>{{$user.GetAttributeValue "mail"}}</td>
          <td>{{$user.GetAttributeValue "displayName"}}</td>
          <td>{{$user.GetAttributeValue "givenName"}}</td>
          <td>{{$user.GetAttributeValue "sn"}}</td>
          <td>{{$user.GetAttributeValue "description"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>
{{end}}