{{define "title"}}Mailing lists |{{end}}

{{define "admenu"}}
{{end}}

{{define "body"}}

<div class="d-flex">
  <h4>Mailing lists</h4>
  <a class="ml-auto btn btn-success" href="/admin/create/ml/{{.MailingBaseDN}}">Nouvelle mailing list</a>
  <a class="ml-4 btn btn-info" href="/">Menu principal</a>
</div>

<table class="table mt-4">
  <thead>
    <th scope="col">Adresse</th>
    <th scope="col">Description</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $ml := $root.MailingLists}}
        <tr>
          <td>
            <a href="/admin/mailing/{{$ml.GetAttributeValue $root.MailingNameAttr}}">
              {{$ml.GetAttributeValue $root.MailingNameAttr}}
            </a>
          </td>
          <td>{{$ml.GetAttributeValue "description"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>

{{end}}
