{{define "title"}}G Pas (Je n'ai pas mon mal de passe){{end}}

{{define "admenu"}}
{{end}}

{{define "body"}}
<h2>G Pas</h2>

<p>Refaire son mot de passe</p>

{{if .Common.ErrorMessage}}
<div class="alert alert-danger">Impossible
  <div style="font-size: 0.8em">{{ .Common.ErrorMessage }}</div>
</div>
{{end}}
{{if .Common.Success}}
<div class="alert alert-success mt-4">
    Email envoyé au courriel de secours.
</div>
{{end}}

<p>Merci de renseigner au moins un des champs ci-dessous.</p>

<form method="POST">
<div class="form-group">
  <label for="username">Ou identifiant :</label>
  <input type="text" name="username" id="username" class="form-control" />
</div>
<div class="form-group">
  <label for="mail">ou mail (interne aux GV) :</label>
  <input type="text" name="mail" id="mail" class="form-control" />
</div>
<div class="form-group">
  <label for="othermailbox">ou mail de secours :</label>
  <input type="text" name="othermailbox" id="othermailbox" class="form-control" />
</div>
<button type="submit" class="btn btn-primary">Refaire son mal de passe</button>
</form>
<script src="/static/javascript/minio.js"></script>
{{end}}