{{define "title"}}Sites webs |{{end}}

{{define "admenu"}}
{{end}}

{{define "body"}}

<div class="d-flex">
  <h4>Sites webs</h4>
  <a class="ml-auto btn btn-link" href="/garage/key">Mes identifiants</a>
  <a class="ml-4 btn btn-success" href="/garage/website/new">Nouveau site web</a>
  <a class="ml-4 btn btn-info" href="/">Menu principal</a>
</div>

<table class="table mt-4">
  <thead>
    <th scope="col">ID</th>
    <th scope="col">URLs</th>
  </thead>
  <tbody>
      {{ range $buck := .Key.Buckets }}
      {{ if $buck.GlobalAliases }}
      <tr>
          <td>
              <a href="/garage/website/b/{{$buck.Id}}">{{$buck.Id}}</a>
          </td>
          <td>
              {{ range $alias := $buck.GlobalAliases }}
              {{ if contains $alias "." }}
              https://{{ $alias }}
              {{ else }}
              https://{{ $alias }}.web.resdigita.org
              {{ end }}
              {{ end }}
          </td>
      </tr>
      {{ end }}
      {{ end }}
  </tbody>
</table>
{{end}}
